<h1 class="row">Pago</h1>
<div class="row">
	<div class="columns medium-9">
		<form>
			<div class="row">
				<div class="small-3 columns">
					<label for="paymentMethod" class="middle">Forma de Pago</label>
				</div>
				<div class="small-9 columns">
					<select #payMode [(ngModel)] ="paymentMethod"  (ngModelChange)="showFields(payMode.value)">
					  <option value="unknown">Elije una opción</option>
					  <option value="card">Tarjeta de crédito o débito</option>
					  <option value="window">Pago en ventanilla bancaria</option>
                      <option value="store">Pago en establecimientos comerciales</option>
					</select>
				</div>
			</div>
			<div class="row"  *ngIf="paymentMethod === 'card'">
                <div class="small-3 columns">
					<label for="cardNumber" class="middle">Número de Tarjeta:</label>
				</div>
				<div class="small-7 columns">
					<input type="text"  value=""  [(ngModel)]="cardNumber" placeholder="Número de Tarjeta:"/>
				</div>
                <div class="small-2 columns">
					<label for="" class="middle">(16 digitos)</label>
				</div>
			</div>
			<div class="row" *ngIf="paymentMethod === 'card'">
				<div class="small-3 columns">
					<label for="name" class="middle">Nombre:</label>
				</div>
				<div class="small-9 columns">
					<input type="text"  value="" [(ngModel)]="name" placeholder="Nombre:"/>
				</div>
			</div>
            <div class="row" *ngIf="paymentMethod === 'card'">
				<div class="large-3 columns">
					<label for="" class="middle">Fecha de expiración:</label>
				</div>
				
                <div class="small-2 columns">
					<label for="month" class="middle float-right">Mes:</label>
				</div>
				<div class="small-2 columns">
					<select  [(ngModel)] ="month">
					  <option value="">Mes</option>
					  <option value="01">01</option>
					  <option value="02">02</option>
                      <option value="03">03</option>
					  <option value="04">04</option>
                      <option value="05">05</option>
					  <option value="06">06</option>
                      <option value="07">07</option>
					  <option value="08">08</option>
                      <option value="09">09</option>
					  <option value="10">10</option>
                      <option value="11">11</option>
					  <option value="12">12</option>
					</select>
				</div>
                <div class="small-2 columns">
					<label for="year" class="middle float-right">Año:</label>
				</div>
				<div class="small-3 columns">
					<select  [(ngModel)] ="year"  (init)="year[0]">
					  <option value="">Año</option>
					  <option value="01">2016</option>
					  <option value="02">2017</option>
                      <option value="03">2018</option>
                      <option value="03">2019</option>
                      <option value="03">2020</option>
					</select>
				</div>
			</div>
            <div class="row" *ngIf="paymentMethod === 'card'">
				<div class="large-3 columns">
					<label for="" class="middle"> </label>
				</div>
                <div class="small-5 columns">
					<label for="validationCode" class="middle float-right">Código de validación: (CVV)</label>
				</div>
				<div class="small-2 columns">
					<input type="text"  value=""  [(ngModel)]="validationCode" placeholder=""/>
				</div>
                <div class="small-2 columns">
					<label for="validationCode" class="middle float-left">(3(4) dígitos)</label>
				</div>
			</div>
			<div class="row" *ngIf="paymentMethod === 'window'">
				<div class="small-3 columns">
					<label for="bankName" class="middle">Nombre del banco:</label>
				</div>
				<div class="small-9 columns">
					<select  [(ngModel)] ="bankName" (init)="bankName[0]">
					  <option value="">Elije un banco</option>
					  <option value="01">BBVA BANCOMER</option>
					  <option value="02">BANAMEX</option>
                      <option value="03">BANORTE</option>
                      <option value="04">SANTANDER</option>
                      <option value="05">HSBC</option>
                      <option value="06">INBURSA-WALLMART</option>
                      <option value="07">SCOTIABANK</option>
                      <option value="08">INTERACCIONES</option>
                      <option value="09">BANCO AZTECA</option>
                      <option value="10">BANREGIO</option>
                      <option value="11">MULTIVA</option>
                      <option value="12">MIFEL</option>
                      <option value="13">COMPARTAMOS</option>
                      <option value="14">AFIRME</option>
                      <option value="15">VE POR MÁS</option>
                      <option value="16">INVEX</option>
                      <option value="17">BANCOPPEL</option>
                      <option value="18">BANCO AHORRO FAMSA</option>
                      <option value="19">BANSI</option>
                      <option value="20">AMERICAN EXPRESS</option>
					</select>
				</div>
         	</div>
             
             <div class="row" *ngIf="paymentMethod === 'store'">
				<div class="small-3 columns">
					<label for="payPlace" class="middle">Lugar del pago:</label>
				</div>
				<div class="small-9 columns">
					<select  [(ngModel)] ="payPlace" class="" (init)="payPlace[0]">
					  <option value="">Elije una tienda</option>
					  <option value="01">OXXO</option>
					  <option value="02">WALMART</option>
                      <option value="03">SORIANA</option>
                      <option value="04">AURRERA</option>
                      <option value="05">FARMACIAS GUADALAJARA</option>
                      <option value="06">SUPERAMA</option>
                      <option value="07">SAM'S CLUB</option>
                      <option value="08">FARMACIAS DEL AHORRO</option>
                      <option value="09">CHEDRAUI</option>
                      <option value="10">COMERCIAL MEXICANA</option>
					</select>
				</div>
         	</div>

			<div class="row" *ngIf="paymentMethod === 'card'">
				<div class="large-4 columns">
					<input type="reset" class="medium secondary button" value="Borrar información">
				</div>
				<div class="large-4 columns">
		    	</div>
				<div class="large-4 columns">
					<a class="medium success button" (click)="createPayment()">Realizar Pago</a>
				</div>
			</div>
            
            <div class="row" *ngIf="paymentMethod === 'window'">
				<div class="large-4 columns">
					<input type="reset" class="medium secondary button" value="Borrar información">
				</div>
				<div class="large-4 columns">
				</div>
				<div class="large-4 columns">
					<a class="medium success button" (click)="createPayment()">Enviarme la linea de captura</a>
				</div>
			</div>
            
            <div class="row" *ngIf="paymentMethod === 'store'">
				<div class="large-4 columns">
					<input type="reset" class="medium secondary button" value="Borrar información">
				</div>
				<div class="large-4 columns">
				</div>
				<div class="large-4 columns">
					<a class="medium success button" (click)="createPayment()">Enviarme la linea de captura</a>
				</div>
			</div>

		</form>
	</div>
</div>
<message-box></message-box>