<!--<h1 class="row"> Registrar su nueva contraseña </h1>
<h6 class="row"> Su cuenta de correo electrónico ya quedo registrada. Ahora solo es neceario
 nos proporcione <br>  una contraseña de acceso. </h6>-->
 <master-page [title]="title" [subTitle]="subTitle">
<br>
<form>
  <div class="row">
    <div class="small-3 columns">
      <label class="middle">Correo electrónico registrado: </label>
    </div>
    <div class="small-4 columns">
      <input type="email" disabled="true" [(ngModel)]="email">
    </div>
  </div>
  <secret-text-box [secretTextBoxlabel]="newPasswordLabel" (secretTextBoxChange)="newPassword=$event"></secret-text-box>
  <secret-text-box [secretTextBoxlabel]="confirmPasswordLabel" (secretTextBoxChange)="confirmPassword=$event"></secret-text-box>

  <div class="row">
    <div class="small-3 columns">
    </div>
    <div class="small-4 columns">
      <label> (Mínimo 6 caracteres, mayúsculas, minúsculas,
                <br> números y caracteres especiales) </label>
    </div>
  </div>
  <div class="row">
    <div class="small-7 columns">
      <a class="medium success button float-right" (click)="savePassword();">Registrar mi cuenta </a>
    </div>
  </div>
</form>
<br>


<message-box></message-box>
 </master-page>