
<master-page [title]="title" [subTitle]="subTitle">
<br>
<br>

<form>
  <div class="row">
    <div class="small-2 columns">
      <label class="middle">Correo electrónico:</label>
    </div>
    <div class="small-4 columns">
      <input type="email" value=""[(ngModel)]="email" placeholder="correo electrónico">
    </div>
  </div>
  <div class="row">
    <div class="three columns g-recaptcha" data-sitekey="6LcqsRoTAAAAAAwKxEfzJoW0qY0MUJhvt-ubqU9h"></div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <a class="medium success button float-right" (click)="sendConfirmation();">Enviar información</a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h6>El sistema le enviará un mensaje de confirmación para concluir el proceso de registro.  <br>
          Ahí podrá dar de alta su contraseña de acceso. </h6>
    </div>
  </div>
</form>

<br>
<br>
<message-box></message-box>
</master-page>

