<section class="material-app-content">
  <md-toolbar class="md-whiteframe-z1">
    <nav class="md-toolbar-tools">
      <button md-button alt="Home" class="md-icon-button"><i class="" md-icon>menu</i></button>
      <h1 flex>Servicios en línea</h1>
      <button md-button>Página de inicio</button>
      <button md-button>Registrarse</button>
      <button md-button>Iniciar sesión</button>
	    <button md-button [routerLink]="['/PendingNoteRequest']">Avisos Preventivos</button>
      <button md-button [routerLink]="['/CertificateRequest']">Certificados</button>
    </nav>
  </md-toolbar>

  <md-content layout="column" layout-align="center center">
    <router-outlet></router-outlet>
  </md-content>

</section>
