<h1 class="row">Solicitud de Certificados en Línea</h1>        
<div class="row">    
    <div class="columns medium-9">
        <form>
            <div class="row">
                <div class="small-5 columns">
                    <label for="generalRequest.certificateType" class="middle">¿Qué tipo de certificado solicita?</label>
                </div>
                <div class="small-7 columns">
                    <select [(ngModel)]="generalRequest.certificateType" class="k-dropdownlist">
                        <option value="">(Tipo de Certificado)</option>
                        <option value="1">Propiedad</option>
                        <option value="2">Inscripción</option>
                        <option value="4">Libertad de gravamen / Gravamen</option>                    
                    </select>   
                </div>
            </div>
            <div class="row">                
                <div class="small-5 columns">
                    <label for="generalRequest.requestedBy" class="middle">Nombre completo del solicitante:</label>
                </div>
                <div class="small-7 columns">
                    <input type="text" value=""  [(ngModel)]="generalRequest.requestedBy" placeholder="Nombre Completo">  
                </div>
            </div>
            <div class="row">                
                <div class="small-5 columns">
                    <label for="" class="middle">Folio real del predio:</label>
                </div>
                <div class="small-5 columns">
                    <input type="text" value="" [(ngModel)]="generalRequest.propertyUID" placeholder="Folio real">                        
                </div>
                <div class="small-2 columns">                     
                    <a class="medium success button" (click)="searchProperty()"> Buscar</a><br/>  
                </div>
            </div>
            <div class="row">
                <div class="small-9 columns">
                    <p><a href="http://www.ontica.org/land/">¿Qué es el folio real?</a></p>      
                </div>
            </div>
            <div class="row">
                <div class="small-9 columns">
                     <p><a href="http://www.ontica.org/land/">si su predio aún no tiene asignado un folio real, solicitelo aquí sin costo</a></p>      
                </div>
            </div>
            <div>
                <div class="small-12 columns">                    
                    <a class="medium success button float-right" (click)="requestCerficate();">Siguiente (Pago)</a> 
                    
                </div>
            </div>
        </form>        
    </div>
</div>
<message-box></message-box>

